<!DOCTYPE html>
<html>
<head>
<style>

div {
  margin-left: 30%;
}
    

h1 {text-align: center;}


</style>
<title>Final Presentation: Hash Tables</title>
</head>
<body>
  <br>
  <br>
  <h1>Final Presentation: Hash Tables</h1>
  <br>
  <br>
  <h2>Welcome to the Interactive Session!</h2>
  <p>Today we are going to talk about some advanced concepts related to Hashtables. This interactive presentation will hopefully make the concepts of linear probing and chaining clearer.</p>

  <p>Please select your favorite single digit number. (You have a limited number of options available)</p>
  <p>Please also enter your first name. No funny stuff (punctuation, numbers, white spaces) allowed.</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <form action="/submit" method="post">
      <label for="fav">Choose your favorite number:</label>
      <select id="fav" name="fav">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
      <br>
      <br>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="fname" placeholder="firstname">
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>Brought to you by:</p>
  <p>Group Triple Hash</p>
  <ul>Devendra Govil</ul>
  <ul>Ity Soni</ul>
  <ul>Kayhan Eryilmaz</ul>
</body>
</html>